.dashboard{
    display : flex;
    flex-direction: column;
    .navbar{

    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top : 50px;
        gap: 30px;
        .main-content{
            width: 100%;
            gap: 10px;
            .title{
                margin-left: 60px;
                font-size: 35px;
                font-weight: bold;
                padding-bottom: 20px;
            }
            .details{
                display: flex;
                flex-direction: row;
                
                justify-content: space-between;
                margin-left: 60px;
                margin-right: 60px;
                gap:20px;
                .box{
                    padding: 20px;
                    background-color: #f4f4f4;
                    border: 2px solid #ccc;
                    border-radius: 10px;
                    width: 270px; 
                    height: 190px;
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    color: #333;
                    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
                }
            }
        }
        .secondary-content{
            width: 100%;
            .table{
             
            }
        }
    }
}

.secondary-content {
    width: 100%;
}

.table-relate {
    margin-left: 60px;
    margin-right: 60px;
    
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    
}

.table thead {
    background-color: #f4f4f4;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 17px;
}

.table th {
    font-weight: bold;
    color: #333;
}

.table td {
    color: #555;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.table-relate h1 {
    margin-left: 0px;
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}