.sidebar{
    width: 23vw;
    min-width: 200px;
    
    display: flex;
    height: 100vh;
    min-height: 646px;
    /* min-width: 220px; */
    flex-direction: column;
    /* border-right: 1px solid #000000; */
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.3);

    .header{
        display: flex;
        justify-content: center;
        padding-top: 12px;
        align-items: center ;
        gap: 1.2vw;

        img {
            height: 4vw;
            min-height: 40px;
        }

        h1 {
            font-size: 2.3vw;
            /* font-size: 32px; */
            
            /* padding-bottom: 20px; */
        }
    }
    .content-section{
        display: flex;
        flex-direction: column;
        /* align-items: start; */
        justify-content: space-between;
        /* gap: 5vh; */
        margin-top: 6vh;
        height: 100%;
        
        
        .menu-section{
            display: flex;
            width: 100%;
            /*  */

            ul{
                padding-left: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap : 3.8vh;
                width: 100%;

                li{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center; 
                    list-style-type: none;

                    a{
                        font-size: 22px;
                        display: flex;
                        text-decoration: none;
                        color: black;
                        
                        img{
                            padding-right: 15px;
                            height: 24px;
                        }
                    }
                }
            }
        }
        .footer{
            
            border-top: 0.01px solid #d4d1d1; 
            padding-bottom: 5px;
            width: 100%;

            ul{
                padding-left: 40px;
                display: flex;
                flex-direction: column;
                
                gap : 3.8vh;
                /* width: 100%; */

                li{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center; 
                    list-style-type: none;
                    
                    a{
                        font-size: 22px;
                        display: flex;
                        text-decoration: none;
                        color: black;
                        
                        
                        img{
                            padding-right: 15px;
                            height: 24px;
                            
                        }
                    }
                }
            }
        }
    }
    
}
@media (max-width : 1200px) {
    .sidebar {
        height: 100vh;
        .header{
            padding-top: 15px;
            
            h1 {
                font-size: 27px;
                /* font-size: 32px; */
                
                /* padding-bottom: 20px; */
            }
        }
    }
}
@media (max-width: 950px) {
    .sidebar {
        width: 10vw;
        min-width: 67px;
        .header{
            padding-top: 15px;
            h1{
               display: none
            }
        }
        .content-section{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .menu-section{

                ul{
                    
                    padding-left: 0;
                    li{
                        
                        justify-content: center; 
        
                        a{
                            img{
                                padding-right: 0
                            }
                            span{
                                display:none
                            }
                        }
                    }
                }
            }
        
            .footer{
                /* height: 50vh; */
                 ul{
                    padding-left: 0;
                    li{
                        justify-content: center;
                        a{
                            img{
                                padding-right: 0;
                            }
                            span{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-height : 780px) {
    .sidebar {
        .content-section{
            margin-top: 47px;
            .menu-section{
                ul{
                    gap: 30px
                }
            }
            .footer{
                ul{
                    gap: 30px
                }
            }
            
        }
    }
}

ul{
    li:hover{
        a{
            filter: invert(59%) sepia(77%) saturate(4653%) hue-rotate(219deg) brightness(100%) contrast(97%);
        }

    }
}