.sidebar{
    width: 23vw;
    min-width: 200px;
    
    display: flex;
    height: 100vh;
    min-height: 646px;
    /* min-width: 220px; */
    flex-direction: column;
    /* border-right: 1px solid #000000; */
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.3);

    .header{
        display: flex;
        justify-content: center;
        padding-top: 12px;
        align-items: center ;
        gap: 1.2vw;

        img {
            height: 4vw;
            min-height: 40px;
        }

        h1 {
            font-size: 2.3vw;
            /* font-size: 32px; */
            
            /* padding-bottom: 20px; */
        }
    }
    .content-section{
        display: flex;
        flex-direction: column;
        align-items: start;
        /* gap: 5vh; */
        margin-top: 6vh;
        height: 100%;
        
        
        .menu-section{
            display: flex;
            width: 100%;
            /*  */

            ul{
                padding-left: 34px;
                display: flex;
                flex-direction: column;
                gap : 3.8vh;
                width: 100%;

                li{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center; 
                    list-style-type: none;

                    a{
                        font-size: 22px;
                        display: flex;
                        text-decoration: none;
                        color: black;
                        
                        img{
                            padding-right: 15px;
                            height: 24px;
                        }
                    }
                }
            }
        }
        .footer{
            
            border-top: 0.01px solid #d4d1d1; 
            padding-bottom: 5px;
            width: 100%;
            ul{
                padding-left: 34px;
                display: flex;
                flex-direction: column;
                
                gap : 3.8vh;
                width: 100%;

                li{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center; 
                    list-style-type: none;
                    
                    a{
                        font-size: 22px;
                        display: flex;
                        text-decoration: none;
                        color: black;
                        
                        
                        img{
                            padding-right: 15px;
                            height: 24px;
                            
                        }
                    }
                }
            }
        }
    }
    
}